$pri_color: #2c365e;
$sec_color: #a66cff;
$not_selected: #424242;
$selected: #000000;
$background: #e9e9e9;

@mixin corners($radius: 15px) {
    border-radius: $radius;
}

@mixin b_padding($size: 1) {
    padding-top: $size * 1vh;
    padding-bottom: $size * 1vh;
    padding-left: $size * 2vh;
    padding-right: $size * 2vh;
    text-align: center;
}

@mixin transition {
    & {
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
}

@mixin hover($bg: $sec_color, $col: #fff) {
    &:hover {
        background-color: $bg;
        color: $col;
    }
}

//general tags----------------------------------------------------

a {
    text-decoration: none;
    color: #000000;
}

body {
    padding: 0;
    font-family: "Work Sans", serif;
    text-decoration: none;
    font-weight: 400;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1,
h2 {
    color: inherit;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
* {
     font-family: 'Montserrat', sans-serif;
}

//classes and IDs----------------------------------------------

#logo {
    user-select: none;
    text-transform: uppercase;
    color: $pri_color;
    font-family: Fredoka;
    font-weight: 600;
    font-size: 150%;
    padding-right: 1%;
}

.signup {
    @include corners;
    @include b_padding;
    @include transition;
    @include hover($pri_color);
    margin-right: 1.5vw;
    float: right;
    color: #fff;
    background-color: $sec_color;
}

.banner {
    @include corners;
    flex: 1 1 0;
    width: 92.5%;
    top: 1vmin;
    margin: 0 auto;
    padding: 3vmax;
    color: #fff;
    background-color: $pri_color;
    font-size: 200%;
    h1 {
        text-align: left;
    }
}

.classes {
    @include corners;
    @include b_padding;
    @include transition;
    @include hover($sec_color);
    color: $not_selected;
    background-color: $background;
}

.matter {
    @include corners;
    @include transition;
    @include hover($pri_color);
    flex: 1 1 0;
    font-size: 200%;
    min-width: 300px;
    height: 38vh;
    padding: 1vmin;
    color: #000000;
    background-color: $background;
}

.article {
    flex: 1 1 auto;
    top: 1vmin;
    margin: 0 auto;
    padding: 3vmax;
    font-size: 130%;
    h1 {
        text-align: left;
    }
}

.info {
    @include corners;
    flex: 1 1 auto;
    margin: 0 auto;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-color: $background;
    color: $not_selected;
    text-align: justify;
    p {
        font-size: 150%;
    }
    p.larger {
        font-size: 200%;
    }
}

.infoaccent {
    background-color: $sec_color;
    color: #fff;
    min-width: 10vw;
}

.number {
    font-size: 200%;
    padding: 1vmin;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}
.showans {
    @include corners;
    @include b_padding;
    @include transition;
    @include hover(#fff, $selected);
    margin: 0 auto;
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
    border-width: 3px;
    border-style: solid;
    font-size: larger;
    &:hover {
        font-size: 180%;
    }
}

//properties and text---------------------------------------------

.purple {
    color: $sec_color;
}
.darkpurple {
    color: $pri_color;
}
.large {
    font-size: 150% !important;
}
.larger {
    font-size: 300% !important;
}
.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}

//flexbox------------------------------------------------------

@mixin flex($scale: 1) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: $scale * 1vmin;
}

.flexing {
    @include flex(2);
    flex-direction: row;
}

.flexingv {
    @include flex(2);
    flex-direction: column;
}

.flexwrap {
    @include flex;
    flex-wrap: wrap;
}

.f_around {
    justify-content: space-around !important;
}

.f_adapt {
    flex: 1 1 0 !important;
}

.f_auto {
    flex-basis: auto;
}

.f_shrink {
    flex-shrink: 2 !important;
}

.f_center {
    align-items: center;
    align-self: center;
}

.minwidth {
    min-width: 200px;
}

//navbar------------------------------------------------------

nav ul li a {
    &,
    &:after,
    &:before {
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
}

nav.stroke {
    @include corners;
    padding: 0.5%;
    padding-bottom: 0.1%;
    background-color: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        gap:22px;
        align-items: center;
    }
    ul li {
        display: flex;
    }

        a {
            position: relative;
            display: block;
            text-decoration: none;
            color: $not_selected;
            font-weight: 400;
            text-transform: uppercase;
            width: max-content;
            height: fit-content;
        }
        a:hover {
            color: $sec_color;
        }
        a:after {
            @include transition();
            position: absolute;
            top: 120%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: ".";
            border-radius: 900px;
            color: transparent;
            background: $not_selected;
            height: 20%;
        }
        a.selectednav:after {
            width: 30%;
            height: 20%;
        }
        a:hover:after {
            width: 100%;
            background-color: $sec_color;
        }
    }
// discipline buttons