@import "mixins";
$pri_color: #2c365e;
$sec_color: #a66cff;
$not_selected: #424242;
$selected: #000000;
$background: #e9e9e9;
$textColor:#242424;
$inactiveTextColor:#F3F3F3;

@mixin corners($radius: 15px) {
    border-radius: $radius;
}

@mixin b_padding($size: 1) {
    padding-top: $size * 1vh;
    padding-bottom: $size * 1vh;
    padding-left: $size * 2vh;
    padding-right: $size * 2vh;
    text-align: center;
}

@mixin transition {
    & {
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
}

@mixin hover($bg: $sec_color, $col: #fff) {
    &:hover {
        background-color: $bg;
        color: $col;
    }
}

//general tags----------------------------------------------------

a {
    text-decoration: none;
    color: #000000;
}

body {
    padding: 0;
    font-family: "Work Sans", serif;
    text-decoration: none;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1,
h2 {
    color: inherit;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
* {
     font-family: 'Montserrat', sans-serif;
}

//classes and IDs----------------------------------------------

#logo {
    user-select: none;
    text-transform: uppercase;
    color: $pri_color;
    font-family: Fredoka;
    font-weight: 600;
    font-size: 150%;
    padding-right: 1%;
}

.signup {
    @include corners;
    @include b_padding;
    @include transition;
    @include button(15px, 10px, 20px);
    color: $inactiveTextColor;
    @include sm{
        @include button(15px, 10px, 16px);
    }
}

.banner {
    @include corners;
    position: static;
    width: 74vw;
    top: 1vmin;
    margin: 0 auto;
    padding: 3vw;
    color: #fff;
    background-color: $pri_color;
    background-position: 90%;
    font-size: 200%;
    background-image: url('../img/border\ img.png');
    background-repeat: no-repeat;
    background-size: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        text-align: left;
        @include sm{
            font-size: max(7.1vw, 30px);
        }
    }
    button{
        @include button(35px, 15px, 20px);
        @include sm{
            @include button(20px, 10px, 20px )
        }
    }
    @include sm{
        background-image: none;
        width:90%;
        padding: max(1vw, 24px) max(1vw, 15px);
    }
}

.classes {
    @include corners;
    @include b_padding;
    @include transition;
    color: $not_selected;
    background-color: $background;
    &.active{
        background-color: $sec_color;
        color: $inactiveTextColor;
    }
    &:hover{
        background-color: $sec_color;
        color: $inactiveTextColor; 
    }
}

.matter {
    @include corners;
    @include transition;
    @include hover($pri_color);
    flex: 1 1 0;
    font-size: 200%;
    min-width: 300px;
    height: 38vh;
    padding: 1vmin;
    color: #000000;
    background-color: $background;
}

.article {
    flex: 1 1 auto;
    top: 1vmin;
    margin: 0 auto;
    padding: 3vmax;
    font-size: 130%;
    h1 {
        text-align: left;
    }
}

.info {
    @include corners;
    flex: 1 1 auto;
    margin: 0 auto;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-color: $background;
    color: $not_selected;
    text-align: justify;
    p {
        font-size: 150%;
    }
    p.larger {
        font-size: 200%;
    }
}

.infoaccent {
    background-color: $sec_color;
    color: #fff;
    min-width: 10vw;
}

.number {
    font-size: 200%;
    padding: 1vmin;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}

.showans {
    @include corners;
    @include b_padding;
    @include transition;
    @include hover(#fff, $selected);
    margin: 0 auto;
    color: #fff;
    background-color: $sec_color;
    border-color: $sec_color;
    border-width: 3px;
    border-style: solid;
    font-size: larger;
    &:hover {
        font-size: 180%;
    }
}

//properties and text---------------------------------------------

.purple {
    color: $sec_color;
}
.darkpurple {
    color: $pri_color;
}
.large {
    font-size: 150% !important;
}
.larger {
    font-size: 300% !important;
}
.nopadding {
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}

//flexbox------------------------------------------------------

@mixin flex($scale: 1) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: $scale * 1vmin;
}

.flexing {
    @include flex(2);
    flex-direction: row;
}

.flexingv {
    @include flex(2);
    flex-direction: column;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.f_around {
    justify-content: space-around !important;
}

.f_adapt {
    flex: 1 1 0 !important;
}

.f_auto {
    flex-basis: auto;
}

.f_shrink {
    flex-shrink: 2 !important;
}

.f_center {
    align-items: center;
    align-self: center;
}

//navbar------------------------------------------------------

nav ul li a {
    &,
    &:after,
    &:before {
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
}

header{
    padding: 15px 30px;
    background-color: $background; 
    display: flex;
    align-items: center;
    gap:20px;
    @include corners;
    a{
        cursor: pointer;
    }
    @include md{
        justify-content: space-between;
    }
    .burger{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        cursor: pointer;
        .line{
            border-radius: 20px;
            background-color: $pri_color;
        }
        .line:nth-child(1){
            width: 40px;
            height: 6px;
        }
        .line:nth-child(2){
            width: 50px;
            height: 6px
        }
        .line:nth-child(3){
            width: 40px;
            height: 6px;
        }
        @include md{
            display: flex;
        }
    }
}
nav.stroke {
    @include corners;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include md{
        position: absolute;
        background-color: $background;
        padding: 20px 0;
        flex-direction: row;
        width: 94.3%;
        border: 20px;
        margin-left: -27px;
        justify-content: space-around;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease-out;
        transform: translateY(80px);
        &.active{
            transform: translateY(100px);
            opacity: 1;
            z-index: 20;
        }
    }
    @include sm{
        padding: max(6vw, 5px) 0;
        flex-direction: column;
        width: 95%;
        opacity: 0;
        margin-left:-30px;
        z-index: -1;
        transition: all 0.5s ease-out;
        transform: translateY(180px);
        &.active{
            z-index: 20;
            transform: translateY(max(32vw, 210px));
            opacity: 1;
        }
    }
    ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        gap:22px;
        align-items: center;
        @include md{
            flex-direction: row;
            gap: 22px;
        }
        @include sm{
            flex-direction: column;

        }
        li {
            display: flex;
            a {
                position: relative;
                display: block;
                text-decoration: none;
                color: $not_selected;
                font-weight: 400;
                text-transform: uppercase;
                width: max-content;
                height: fit-content;
                &:hover {
                    color: $sec_color;
                }
                    &:after {
                    @include transition();
                    position: absolute;
                    top: 120%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: ".";
                    border-radius: 900px;
                    color: transparent;
                    background: $not_selected;
                    height: 20%;
                }
                &.selectednav:after {
                    width: 30%;
                    height: 20%;
                }
                &:hover:after {
                    width: 100%;
                    background-color: $sec_color;
                }
            }
        }
    }
}

// discipline buttons

.disciplines-block{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap:20px;
    @include md{
        grid-template-columns: auto auto;
    }
    @include sm{
        grid-template-columns: auto;
    }
    a{
        width: max(15vw, 200px);
        padding: max(3vw, 40px) max(2vw, 20px);
        display: flex;
        flex-direction: column;
        gap: 22px;
        border-radius: 20px;
        background-color: $background;
        height: fit-content;
        transition: all .5s ease-out;
        pointer-events: all;
        &.active{
            pointer-events: all;
            svg{
                filter: grayscale(0%);
                opacity: .9;
            }
            &:hover{
                background-color: #2c365e;
            }
            &:hover p{
                color: $sec_color;
            }
            &:hover .circle{
                fill: $sec_color;
            }
        }
        @include lg{
            width: max(18vw, 180px);
        }
        @include md{
            width: max(36vw, 230px);
            padding: max(5vw, 40px) max(4vw, 20px);
        }
        @include sm{
            width: max(80vw, 230px);

        }
        p{
            margin: 0;
            font-weight: 700;
            font-size: 2.6vw;
            line-height: 100%;
            color: $textColor;
            @include md{
                font-size: max(3vw, 36px);
            }
            @include sm{
                font-size: max(5wv, 30px);
            }
            transition: all .5s ease-out;
        }
        svg{
            width: 100%;
            .circle{
                fill: $pri_color;
                transition: all .5s ease-out;
            }
        }
    }
}
// not finished yet
//alert-modal-------------------------------------------------------------------------
    align-items: flex-end;
    background-color: rgb(0, 0, 0, 0.5);
    &.active{
        display: block;    
        transform: translateY(0); 
    }
    .alert-modal{
        transform: translateY(-20px);
        display: flex;
        position: fixed;
        padding: 30px 30px;
        background-color: $background;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $sec_color;
        border-radius: 20px;
        border: solid 2px $sec_color;
        width: max-content;
        transition: all .5s ease-out;
    }
}//     font-weight: 400;
//     font-size: 20px;
//     line-height: 24px;
//     color: $sec_color;
//     border-radius: 20px;
//     border: solid 2px $sec_color;
//     margin: 80vh 62vw;
//     width: max-content;
//     transition: all .5s ease-out;
//     &.active{
//         display: block;    
//         transform: translateY(0);
//     }
// }
